.modal {
  position: fixed;
  width: 500px;
  top: 50%;
  bottom: 50%;
  padding: 0;
  border: none;
  background-color: var(--white);
}

.modal::backdrop {
  background: rgba(0, 53, 84, 0.7);
}

.modalWrapper {
  width: 100%;
  overflow-x: hidden;
}

.modalHeader {
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalCloseIcon {
  align-self: flex-end;
}

.modalTitleWrapper {
  width: max-content;
  padding: 5px 0;
  align-self: center;
}

.modalTitle {
  margin: 0 0 8px 30px;
  font-size: var(--fs-lg);
  color: var(--quaternary-color);
}

.modalSlogan {
  font-size: var(--fs-sm);
  color: var(--decorative-light);
}

.modalInnerWrapper {
  width: 100%;
}

.contactForm {
  margin: 0 20px;
  padding: 15px 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputWrapper {
  width: 350px;
}

.buttonForm {
  align-self: center;
}
