.modal {
  position: fixed;
  width: 500px;
  top: 50%;
  bottom: 50%;
  padding: 0;
  border: none;
  background-color: var(--white);
}

.modal::backdrop {
  background: rgba(0, 53, 84, 0.7);
}

.modalWrapper {
  width: 100%;
  overflow-x: hidden;
}

.modalHeader {
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalCloseIcon {
  align-self: flex-end;
}

.modalTitleWrapper {
  width: max-content;
  padding: 5px 0;
  align-self: center;
}

.modalTitle {
  margin: 0 0 8px 30px;
  font-size: var(--fs-lg);
  color: var(--quaternary-color);
}

.modalSlogan {
  font-size: var(--fs-sm);
  color: var(--decorative-light);
}

.modalInnerWrapper {
  width: 100%;
}

.contactForm {
  margin: 0 20px;
  padding: 15px 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputFormWrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.inputFormWrapper.textArea {
  width: 100%;
}

.label {
  color: var(--quaternary-color);
}

.inputBox {
  height: 42px;
  padding-left: 16px;
  line-height: var(--lh-label);
  font-family: var(--font-regular);
  font-size: var(--fs-xs);
  background-color: var(--element-bg);
  border: 1px solid var(--decorative-light);
  border-radius: var(--br-sm);
}

.inputBox.textArea {
  height: auto;
  max-width: 100%;
}

.inputBox::placeholder {
  font-size: var(--fs-xxs);
  color: var(--decorative-dark);
}

.inputBox:focus {
  border: 3px solid var(--primary-color);
  outline: none;
}

.buttonForm {
  align-self: center;
}
