{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": ["**/tsconfig.json"]
  },
  "plugins": ["react", "@typescript-eslint", "prettier", "jest"],
  "rules": {
    "prettier/prettier": "error",
    "react/require-default-props": [
      2,
      {
        "functions": "ignore"
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["CustomInputLabel"],
        "labelAttributes": ["label"],
        "controlComponents": ["CustomInput"],
        "depth": 3
      }
    ]
  }
}
