.description-text {
  font-size: var(--fs-xs);
}

.tag-name {
  font-family: var(--font-accessories);
  font-weight: 500;
}

.welcome,
.slogan {
  font-weight: 500;
}

.welcome {
  line-height: var(--lh-titration);
}

.slogan {
  font-size: var(--fs-xl);
  line-height: var(--lh-small);
}
