.skills-row {
  display: flex;
  gap: 14px;
  padding: 5px 10px;
}

.skills-table {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  padding: 10px 30px;
  background-color: var(--element-bg);
  border-radius: var(--frame-br);
}
