.inputFormWrapper {
  position: relative;
}

.label {
  position: relative;
  display: inline-block;
  padding-top: 12px;
  color: var(--decorative-light);
  font-weight: 600;
  border: 1px solid var(--dark-secondary);
  border-radius: var(--br-xxs);
  cursor: text;
}

.label.onInput {
  margin: 0 -2px -2px 0;
  border: 2px solid var(--tertiary-color);
  color: var(--tertiary-color);
}

.label:hover:not(.onInput, .focused) {
  border: 1px solid var(--decorative-dark);
  color: var(--decorative-dark);
  font-weight: 500;
}

.label.focused {
  margin: 0 -2px -2px 0;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: 500;
}

.label:hover.error,
.label.focused.error {
  color: var(--primary-alert-color);
}

.label:hover.error {
  border: 1px solid var(--primary-alert-color);
}

.label.focused.error {
  border: 2px solid var(--primary-alert-color);
}

.label > span:first-child {
  position: absolute;
  display: block;
  top: -12px;
  left: 10px;
  padding: 0 2px;
  background-color: white;
}

.inputBox {
  width: 366px;
  height: 32px;
  padding: 0px 8px 8px 8px;
  line-height: var(--lh-label);
  font-family: var(--font-regular);
  font-size: var(--fs-xs);
  border: none;
  outline: none;
  background: none;
}

.inputBox.textArea {
  margin: 0;
  min-width: 366px;
  width: 476px;
  max-width: 100vw;
  min-height: 138px;
  max-height: 100vh;
}

.inputBox::placeholder {
  align-self: flex-start;
  font-size: var(--fs-xxs);
  color: var(--decorative-dark);
}
