.inputFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.inputFormWrapper.textArea {
  width: 100%;
}

.label {
  color: var(--quaternary-color);
}

.inputBox {
  height: 42px;
  padding-left: 16px;
  line-height: var(--lh-label);
  font-family: var(--font-regular);
  font-size: var(--fs-xs);
  background-color: var(--element-bg);
  border: 1px solid var(--decorative-light);
  border-radius: var(--br-sm);
}

.inputBox.textArea {
  height: auto;
  max-width: 100%;
  padding: 8px;
}

.inputBox::placeholder {
  font-size: var(--fs-xxs);
  color: var(--decorative-dark);
}

.inputBox:focus {
  border: 3px solid var(--primary-color);
  outline: none;
}
